{% block risk %}
<!-- Header -->

	<!-- Legal Announcement -->
	<br>
	<div class="container">
		<header class="major" style="text-align:left;font-size:1.4em;text-decoration: underline;">保險、風險預告與放棄法律追訴聲明</header>
		<div class="text" style="text-align:left;font-size:0.9em;">
		<span class="byline" style="font-weight: bold;">※ 提升安全措施：</span><br>
		我們都知道，任何戶外活動，皆有一定的風險，包括我們此行的澎湖本島、澎湖南海諸島(南方四島國家公園、七美、望安、將軍嶼…等島嶼)，及其海域。澎湖南海諸島部分海域海流較強，在此從事遊憩活動包括工作人員、教練、以及隨行隊員/團員)，任何人都要提高警覺，注意安全。我們將從以下五個面向強化安全：
		<ul>
			<li>(一)【活動獲主管機關核可】：活動經國家公園、交通部等機關核可。</li>
			<li>(一)【加強與在地人士合作】：當地人對當地水域最為熟悉，我們的遊憩景點，皆經在地人士「事先」帶領我們團隊探勘過，並經其確認適合或可以下水遊憩之處。</li>
			<li>(二)【合格安全教練】：水域活動皆有合格安全教練帶領大家從事活動；且有教練或增聘船隻在旁邊做安全待命與戒護。<br>在海流較強的地方，人力游不過海流，只有動力船能在緊急狀況下馳援。</li>
			<li>(三)【提升安全裝備】，凡是下水，都務必全程穿著救生衣、防滑鞋、水母衣(或長袖衣褲)，且不得單獨下水，下水必須獲得教練與工作人員、主辦、領隊的同意。<br>下水必須依照教練指示遊憩與動作，不可擅自行動，並盡可能做好環境保護。另外，我們也會準備安全繩索，團員如有需要繩索確保，請務必告知。</li>
			<li>(四)【全程包船】：因活動屬離島，全程包船除能玩得更深入與盡興外，緊急狀況更能應付。</li>
			<li>(五)【更好的保險】除500+30萬旅平險外，也投保交通部最新規定的公共意外責任險。</li>
		</ul>
		</div>

		<div class="text" style="text-align:left;font-size:0.9em;">
		<span class="byline" style="font-weight: bold;">※風險預告：</span><br>
		我們活動兼具陸上水下，活動時，為確保安全，團員必須完全聽從主辦、領隊、教練、工作人員、船家、當地合作人士的指揮，切勿有不服從指揮行為發生，也切勿有公主病與王子病的情事發生。若又不服從指揮之行為，而導致危險與意外，均由個人負責，主辦單位概不負責。另外，有些區域不乏較為脆弱與珍稀的玄武岩地形，在區域的海域、島上、陸上、礁岩、岸邊等區域，從事遊憩時，要特別注意落石、 坍方、海蝕凹洞，也要注意島上是否有毒蛇出沒，同時盡可能不干擾島上的動植物，以及水下生態。
		另外，凡前往任何地點，不論其危險或安全等級，包括陸上與水面、水下，皆不可假託主辦單位、教練未說不可從事，擅自行動；任何行動，都必須事先獲得領隊、教練與 工作人員的同意，若有不聽從指揮與勸導者，主辦、領隊、教練、船家皆有全終止個人或團體的活動，皆不為其行為背書，團員不得異議。
		<br>
		夏季澎湖天氣炙熱，請做好防曬，請攜帶水瓶，建議每人每天準備1200CC的飲水，並請隨時補充水分。預防高溫或中暑等問題，可戴遮陽帽、 太陽傘，或穿著薄外套與長褲遮陽。活動過程中，若有任何身體不適之處，務必隨時主動向領隊、教練與工作人員或船家反映，並請攜帶個人使用的藥品。年長、身心疾病、孕婦不適合水上活動，小孩或未成年，需有家人或監護人陪伴，並負責其所有安全；若有個人疾病，孕婦、先天性疾病及後天法定疾病者（例如心臟 病、癲癇...等疾病不適合水上活動者），請勿報名、參加。不適合從事水上活動者，應主動告知，並退出活動，如未告知隱瞞，請個人自負風險與責任。
		</div>
		<div class="text" style="text-align:left;font-size:0.9em;">
		<span class="byline" style="font-weight: bold;">※主辦單位行程與活動調整權：</span><br>
		本行程必須配合天候海象，為確保團員安全與活動順利進行，主辦單位有完全的權力，針對活動前後的天候海象狀況，針對行程與活動內容進行調整，團員需無異議完全配合。
		</div>
		<div class="text" style="text-align:left;font-size:0.9em;">
		<span class="byline" style="font-weight: bold;">※ 保險與放棄法律追訴聲明</span><br>
		為了提高活動的保險與保障，我們除投保500萬+30萬旅平險外，更依交通部最新規定投保公共意外險。小孩與未成年(未滿15歲者)之保險，因為保險法另有規定，最高只能投保保額200萬+20萬醫療（不含死亡險），若家長認為保險保障有不足之處，均請家長自行處理與負責。在此要特別強調，除了主辦準備的安全措施外，每位參與的成員，也都應主動確保自身安全，切勿做出危險動作，並應確實遵守指揮，勿未經許可擅自行動或前往危險區域，同時每 個人也應該為自己的安全與行為負責。若於活動中發生任何的意外與事故，或者於活動中造成的任何的損失(包括人身、財產、裝備等)，皆由保險負責與支付；參與的成員，若認為保險理賠金額不夠，或者保險的保障範圍不足，請自行另外加保到個人認為足夠的金額與範圍。亦即，成員參與本次活動，若發生任何意外或事故，或者造成任何的損失與傷害等，不論原因為何，皆由投保的保險理賠與負責，任何人皆不得對主辦單位、領隊、工作人員、教練提出任何形式的法律追訴(同意放棄對上述人員的任何法律追訴)。
		</div>
		
		
	</div>


{% endblock %}
