{% block refund %}
	<!-- Return -->
	<br>
	<div class="container">
		<header class="major" style="text-align:left;font-size:1.4em;text-decoration: underline;">退費處理辦法</header>
		<div class="text" style="text-align:left;font-size:0.9em;">
			<div>
				<span class="byline" style="font-weight: bold;">※ 辦法一：</span><br>
				如遇颱風、天災等不可抗拒因素，航班停駛，若已經投保保險，則扣除 (1)保險費與 (2)行政處理費 150元，其餘全額退費；若尚未投保保險，則只扣除 (2) 150元行政處理費，其餘全額退費。
			</div>
			<div>
				<span class="byline" style="font-weight: bold;">※ 辦法二：</span><br>
				<b>若非颱風、天災等不可抗拒因素，但因天候不佳或海象不佳，經船家與主辦研判不適合前往澎湖南海旅遊，此屬我們主動要求放棄出團，則須扣除各項訂金費用(例如嘉義與南方小島住房與交通等訂金)，若已經發生保險則需扣除保險費 (若未發生保險，則不需扣除保險費) ，以及150元行政處理費；詳細金額，主辦會另行公告給大家知悉，並會替大家爭取最佳退費金額/比例。</b>
			</div>
			<div>
				<span class="byline" style="font-weight: bold;">※ 辦法三：</span><br>
				因遲到(不論任何原因)而未隨隊同行出發，視同放棄參加，並不退款。
				<br><b>特別強調：</b>若非颱風、天災等不可抗拒因素，但因為天候不佳或海象不佳，是否適合出船，船家與主辦單位最了解的。此時是否如期出船、出團，全權交由船家專業決定，但主辦亦會參與討論與研判。若不適合，主辦亦會向船家表達。由於這部分涉及專業與經驗判斷，請大家務必尊重專業，勿外行充內行， 擅自下指導棋。
			</div>
			<div>
				<span class="byline" style="font-weight: bold;">※ 辦法四：</span><br>
				<ul>
					<li>(一) 因航班停駛或人數不足而無法成行，則活動取消，全額退費</li>
					<li>(二) 出發前 60日以前，通知無法參加者，退 80%費用</li>
					<li>(三) 出發前 31~59日前，通知無法參加者，退 60%費用</li>
					<li>(四) 出發前 15~30日前，通知無法參加者，退 30%費用</li>
					<li>(五) 出發前 8~14日前，通知無法參加者，退 20%費用</li>
					<li>(六) 出發前 2~7日前，通知無法參加者，退 10%費用</li>
					<li>(七) 出發當天至前一天通知無法參加，恕無法退費</li>
					<li>以上 (二)至(六)通知無法參加者，若能找到人代替參加，且代替的人已經完成報名與繳費後，則退回其原本繳交的費用。</li>
				</ul>
			</div>
		</div>
	</div>	

{% endblock %}
