{% block member %}
<div id="main" class="wrapper style1">
	<section class="container">
		<header class="major">
			<h2>會員專區</h2>
		</header>
		<div class="row">
			<!-- Content -->
			<div class="6u">
				<section>
					<ul class="style">
						<li>
							<span class="fa fa-wrench"></span>
							<h3>獨享人生</h3>
							<span>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim.</span>
						</li>
						<li>
							<span class="fa fa-cloud"></span>
							<h3>量身訂製</h3>
							<span>Pellentesque viverra vulputate enim. Aliquam erat volutpat. Maecenas condimentum enim tincidunt risus accumsan.</span>
						</li>
					</ul>
				</section>
			</div>
			<div class="6u">
				<section>
					<ul class="style">
						<li>
							<span class="fa fa-cogs"></span>
							<h3>人間之美</h3>
							<span>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim.</span>
						</li>
						<li>
							<span class="fa fa-leaf"></span>
							<h3>你的回憶</h3>
							<span>Pellentesque viverra vulputate enim. Aliquam erat volutpat. Maecenas condimentum enim tincidunt risus accumsan.</span>
						</li>
					</ul>
				</section>
			</div>
		</div>
	</section>
</div>
{% endblock %}
