<div id="footer">
	<div class="container">
		<div class="row">
			<div class="12u">
				<section>
					<header class="major">
						<span class="byline">果達天下旅行社有限公司版權所有請勿複製</span>
					</header>
					<ul class="contact">
						<li>
							<span class="address">公司地址</span>
							<span>桃園市桃園區豐林里青田街275巷1號1樓</span>
						</li>
						<li>
							<span class="mail">郵寄</span>
							<span><a href="#">WaxiRiver@awow.com.tw</a></span>
						</li>
						<li>
							<span class="phone">打電話給我</span>
							<span>(886) 915-339996</span>
						</li>
					</ul>	
				</section>
			</div>
		</div>
	</div>
</div>
