<div class="wrapper style1">
	
	<div class="container">
		
		<header class="major" style="text-align:left;font-size:1.4em;text-decoration: underline;" id="register">我要報名</header>

		<form id="registrationForm" class="form-horizontal">
			<div class="form-group">
				<div class="col-xs-6 col-xs-offset-2">
					<div class="checkbox">
						<label>
							<input type="checkbox" name="read" value="read" /> 我己閱讀以上內容
						</label>                
					</div>
					
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-6 col-xs-offset-2">
					<div class="checkbox">
						<label>
							<input type="checkbox" name="agree" value="agree" /> 我同意以上內容
						</label>
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-xs-2 control-label">姓名</label>
				<div class="col-xs-2">
					<input type="text" class="form-control" name="username" />
				</div>

			</div>

			<div class="form-group">
				<label class="col-xs-2 control-label">FB名字</label>
				<div class="col-xs-2">
					<input type="text" class="form-control" name="facebook" />
				</div>
			</div>

			<div class="form-group">
				<label class="col-xs-2 control-label">電子郵件</label>
				<div class="col-xs-4">
					<input type="text" class="form-control" name="email" />
				</div>
			</div>

			<div class="form-group">
				<label class="col-xs-2 control-label">身份證或護照號碼</label>
				<div class="col-xs-2">
					
					<input type="text" class="form-control" name="facebook" />
					
					<div class="radio">
						<label>
							<input type="radio" name="gender" value="taiwan" checked/> 本國人士
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="gender" value="forgin" /> 外國人士
						</label>
					</div>
					
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-xs-2 control-label">出生</label>
				
				<div class="col-xs-2">					
					<input type="text" class="form-control" name="birthday" />					
				</div>
				
			</div>
			
			<div class="form-group">
				<label class="col-xs-2 control-label">性別</label>
				<div class="col-xs-6">
					<div class="radio">
						<label>
							<input type="radio" name="gender" value="male" /> 男性
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="gender" value="female" /> 女性
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="gender" value="other" /> 其他
						</label>
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-xs-2 control-label">行動電話</label>				
				<div class="col-xs-2">										
					<input type="text" class="form-control bfh-phone" name="mobile" data-country="TW">			
				</div>				
			</div>
			
			<div class="form-group">
				<label class="col-xs-2 control-label">是否吃素</label>
				<div class="col-xs-6">
					<div class="radio">
						<label>
							<input type="radio" name="vegetarian" value="no" checked/> 葷素均可
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="vegetarian" value="part" /> 方便素
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="vegetarian" value="all" /> 吃全素
						</label>
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-xs-2 control-label">聯絡地址</label>				
				<div class="col-xs-5">										
					<input type="text" class="form-control" name="address">			
				</div>				
			</div>
			
			<div class="form-group">
				<label class="col-xs-2 control-label">緊急聯絡人</label>				
				<div class="col-xs-2">										
					<input type="text" class="form-control" name="emergency-contact">			
				</div>				
			</div>
			
			<div class="form-group">
				<label class="col-xs-2 control-label">緊急聯絡電話</label>
				<div class="col-xs-2">										
					<input type="text" class="form-control bfh-phone" name="emergency-mobile" data-country="TW">			
				</div>				
			</div>
			
			<div class="form-group">
				<label class="col-xs-2 control-label">同行夥伴</label>				
				<div class="col-xs-4">										
					<input type="text" class="form-control" name="partners">(安排共乘和住宿使用)		
				</div>				
			</div>
			
			<div class="form-group">
				<label class="col-xs-2 control-label">租用裝備統計</label>
				<div class="col-xs-6">
					<div class="checkbox">
						<label>
							<input type="checkbox" name="life-jacket" value="1" checked/> 救生衣 (團員自理退40元)
						</label>
					</div>					
				</div>

				<div class="col-xs-6 col-xs-offset-2">
					<div class="checkbox">
						<label>
							<input type="checkbox" name="jellyfish-jacket" value="1" checked/> 水母衣 (團員自理退70元)
						</label>
					</div>
				</div>
				<div class="col-xs-6 col-xs-offset-2">
					<div class="checkbox">
						<label>
							<input type="checkbox" name="upstream-shoes" value="1" checked/> 溯溪鞋 (團員自理退40元)
						</label>
					</div>
				</div>
				<div class="col-xs-6 col-xs-offset-2">
					<div class="checkbox">
						<label>
							<input type="checkbox" name="breathing-tube" value="1" checked/> 面鏡+呼吸管 (團員自理退70元)
						</label>
					</div>
				</div>
				<div>
					※ 特別強調:我們是澎湖水域遊憩活動的合法業者，政府規定，救生衣、溯溪鞋、面鏡呼吸管、水母衣等安全裝備不足者，禁止從事浮潛等相關活動，團員不得異議，務必遵守。
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-xs-2 control-label">保險選項</label>
				<div class="col-xs-6">
					<div class="radio">
						<label>
							<input type="radio" name="insurance" value="246" checked/> 維持原保險金額 500萬+30萬 (已包含在團費裡)
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="insurance" value="370" /> 保險金額提高到 800萬+30萬 (需另加124元)
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="insurance" value="455" /> 保險金額到 1000萬+30萬 (需另加209元)
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="insurance" value="0" /> 本人或我的小孩未滿15歲，我的保險費退212元
						</label>
					</div>
				</div>
				<div>
					※ 保險金額有三種選擇，請依您的需要選擇適當的方案。若實際上 [未成年] 卻選擇 [非未成年] 的投保方案，將不予認可。除強制調降保險金額外，亦不予退費。
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-xs-2 control-label">DAY 0 住宿選項</label>
				<div class="col-xs-6">
					<div class="radio">
						<label>
							<input type="radio" name="stay" value="0" checked/> 不住宿
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="stay" value="420" /> 住龍園民宿民宿 (420元)
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="stay" value="470" /> 住龍園民宿+代訂早餐(420+50元)
						</label>
					</div>
				</div>
				<div>
					※ 嘉義布袋民宿與七美民宿，皆可升級住兩人房(數量有限)，報名填寫完成確認參加名單後，行政教練會另外調查並安排各地住宿需求(嘉義住宿，選住，自費，七美、東嶼坪住宿皆包含在費用)
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-xs-2 control-label">DAY 0 交通</label>
				<div class="col-xs-6">
					<div class="radio">
						<label>
							<input type="radio" name="bus" value="1"/> 可出車共乘
							<input type="text" class="form-control col-xs-3" name="carpool-location" placeholder="出發地區"/>
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="bus" value="2" /> 需要共乘安排
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="bus" value="3" /> 會自行前往民宿或布袋港旅客中心
							<input type="text" class="form-control col-xs-3" name="whereto" placeholder="前往民宿或布袋港旅客中心"/>
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="bus" value="0" /> 想搭遊覽車
						</label>
					</div>
				</div>
				<div>
				※ 若有車，請盡量出車，並共乘，車資乘客自行均攤，這樣最省錢，也最方便。<br>
				※我們在火車站前有合作的計程車司機，司機撿滿4-5人即可載大家到民宿，每台車約自費Share車資約150-200元/人。
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-xs-2 control-label"></label>				
				<div class="col-xs-8" style="text-align:left;font-size:0.9em;">										
					<ul>
						<li>
							救生衣尺寸表
							<ul style="padding-left:20px;">
								<li>SS(xs)：100-130cm</li>
								<li>S：130-150cm(但體重55kg以上，可選M號)</li>
								<li>M：150-165cm(但體重75kg以上，可選L號)</li>
								<li>L：1650-180cm(但體重90kg以上，可選xl)</li>
								<li>XL：180-200cm</li>
							</ul>
						</li>
						<li>
							水母衣尺寸表
							<ul style="padding-left:20px;">
								<li>小 (男女身高 140~165cm)</li>
								<li>中 (男女身高 165~175cm)</li>
								<li>大 (男女身高 175cm以上)</li>
								<li>同身高範圍，但體重較重者，建議可挑大一號</li>
								<li>例如：小 (男女身高 140~165cm)，但體重 70kg以上者，選中號</li>
							</ul>
						</li>
						<li>溯溪鞋尺寸丈量方式：</li>
						<li style="padding-left:20px;">光腳丫，量後腳跟到前腳指的長度，若 26 cm 就穿26號，若 26.5 cm 則穿27號</li>
						<li>※ 裝備由教練群統一幫大家攜至嘉義布袋港旅客中心</li>
					</ul>
				</div>				
			</div>
		</form>
	</div>
</div>
