{% extends 'layout.html' %}

{% block content %}
<div class="container">
	<div class="row no-collapse-1">
		<section class="6u">
			<h2>Story</h2>
			<span class="byline">A commodo, ornare aliquet quisque viverra blandit cubilia in Laoreet vel sodales mus eget augue sed Gravida Egestas.</span>
			<span class="byline">This is a Banner element, and it's generally used as an introduction or opening statement. You can customize its style, scheme, color, size, orientation, content alignment, and image position, as well as assign it an optional onload or onscroll transition modifier (details).</span>
		</section>
		<section class="8u">
			<img src='/static/img/pic02.jpg' width=900 height=600>
		</section>
	</div>
</div>
<div class="container">
<div class="story">
</div>
<div class="spotlight">
</div>
<div class="us">
</div>
</div>
{% endblock %}
